# Application
!web/wp-content/
web/wp-content/*
!web/wp-content/plugins/
web/wp-content/plugins/*
!web/wp-content/plugins/my-plugin

!web/wp-content/themes/
web/wp-content/themes/*
!web/wp-content/themes/my-theme-child

!web/wp-content/mu-plugins/
web/wp-content/upgrade
web/wp-content/uploads/*

node_modules

.idea/
*.log
*.sql
.DS_Store*
ehthumbs.db
._*
*~
.svn
.cvs
*.bak
*.swp
Thumbs.db
env.ini
web/vendor
web/wp-admin
web/wp-includes
web/xmlrpc.php
web/*.php
web/*.txt
web/*.html
web/.env

!web/wp-config.php
